<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> REMAN </title>
</head>
<body>
    
    <Nav>
        <ul>
            <li>
                <a href="/"> Home </a>
            </li>
            <li>
                <a href="/inventory"> Inventario </a>
            </li>
            <li>
                <a href="/logout"> Cerrar Sesión </a>
            </li>
        </ul>
    </Nav>

    {% block content %}
    {% endblock %}

</body>
</html>